# dependencies
/node_modules

# production
/.next
/out

# misc
.DS_Store
.env
.env.local
.env.*

# supabase
.supabase

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# tests output
/coverage

# other
*.log
